* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    image-rendering: pixelated;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-family: "Elms Sans", Georgia, 'Times New Roman', Times, serif;
    background-color: #083d0e8f;
}

.container {
    width: 90%;
    max-width: 1200px;
    height: 85vh;
    background: #e8ece9;
    backdrop-filter: blur(15px);
    border-radius: 30px;
    box-shadow:  #143f14;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.pixel-brain {
    position: absolute;
    width: 600px;
    left: 50%;
    bottom: -100px;
    transform: translateX(-50%);
    image-rendering: pixelated;
    z-index: 1;
}

header {
    width: 100%;
    border-bottom: 4px solid #153a1a;
    position: relative;
    height: 320px;
    background: #ffb30037;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}

.header-content {
    position: relative;
    z-index: 2;
}

h1 {
    font-family: "Bitcount", Georgia, 'Times New Roman', Times, serif;
    color: #ffffff;
    font-size: clamp(40px, 8vw, 600px);
    text-shadow: 3px 3px 0px #013001; 
    padding-bottom: 10px;
    position: relative; 
    z-index: 2;
    margin-bottom: 25px;
}

nav {
    display: flex;
    gap: 15px;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 10px;
    position: absolute;
    z-index: 2;
}

nav a {
    text-decoration: none;
    color: #184d18;
    font-weight: bold;
    font-size: 20px;
    font-family: "Nunito", Georgia, 'Times New Roman', Times, serif;
}

nav a:hover {
    color: #ffffff;
}

nav a,
.divisor {
    text-decoration: none;
    color: #e6ffe6;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
}

.mensagem-coracao {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
}

.mensagem-coracao:hover {
    transform: scale(1.1);
}

.mensagem-coracao img {
    width: 25px;
    height: auto;
    image-rendering: pixelated;
}

h2 {
    font-family: "Nunito", Georgia, 'Times New Roman', Times, serif;
}

main {
    background-color: #f0f5f1;
    width: 100%;
    color: #1a1a1a;
    max-width: 1400px;
    flex: 1;
    padding: 30px;
    overflow-y: auto;
}