* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    image-rendering: pixelated;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-family: "Elms Sans", Georgia, 'Times New Roman', Times, serif;
    background-color: #ff9db1;
}

.container {
    width: 90%;
    max-width: 1200px;
    height: 85vh;
    background: #e8ece9;
    backdrop-filter: blur(15px);
    border-radius: 30px;
    box-shadow: 0 5px 15px #c27887;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.pixel-brain {
    position: absolute;
    width: 630px;
    left: 50%;
    bottom: -110px;
    transform: translateX(-50%);
    image-rendering: pixelated;
    z-index: 1;
}

header {
    width: 100%;
    border-bottom: white;
    position: relative;
    height: 320px;
    background: linear-gradient(#a3849d, #6a4062);
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}

.header-content {
    position: relative;
    z-index: 2;
}

h1 {
    font-family: "Bitcount", Georgia, 'Times New Roman', Times, serif;
    color: #ffffff;
    background: rgba(255, 255, 255, .15);
    backdrop-filter: blur(1px);
    padding: 10px 20px;
    font-size: clamp(20px, 8vw, 100px);
    text-shadow: 3px 3px 0px #82697d; 
    padding-bottom: 10px;
    position: relative;
    z-index: 2;
    margin-bottom: 25px;
    border-radius: 12px;
}

@media (max-width: 768px) {
    h1 {
    font-size: clamp(40px, 8vw, 600px);
    }
    .pixel-brain {
        width: 510px;
    }
}

nav {
    display: flex;
    gap: 15px;
    bottom: -2px;
    left: 50%;
    transform: translateX(-50%);
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 10px;
    position: absolute;
    z-index: 3;
}

nav button {
    text-decoration: none;
    background: #ff9db1c7;
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
    font-family: "Nunito", Georgia, 'Times New Roman', Times, serif;
    padding: 12px 15px;
    border-radius: 12px 12px 0 0;
    text-decoration: none;
    box-shadow: 0 -3px 0 rgba(255, 255, 255,.5), inset 0 -3px rgba(0,0,0,.08);
    border: none;
    outline: none;
    cursor: pointer;
    transition:.2s;
}

nav button.ativa {
    background: #f0f5f1;
    color: #184d18;
    margin-bottom:-4px;
    border-bottom:4px solid #f0f5f1;
    z-index: 10;
}

.pagina {
    display: none;
}

.pagina.ativa {
    display: block;
}

.mensagem-coracao {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
}

.mensagem-coracao:hover {
    transform: scale(1.1);
}

.mensagem-coracao img {
    width: 25px;
    height: auto;
    image-rendering: pixelated;
}

h2 {
    font-family: "Nunito", Georgia, 'Times New Roman', Times, serif;
}

main {
    background-color: #f0f5f1;
    width: 100%;
    color: #1a1a1a;
    max-width: 1400px;
    flex: 1;
    padding: 30px;
    overflow-y: auto;
}